@import "../const";

.container {
    @media (max-width: $md) {
        padding: 0;
    }
}

.exhibit {
    background-color: $green;
    position: relative;
    color: #fff;

    &::before {
        content: "";
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $yellow;

        @media (max-width: $xl) {
            display: none;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-height: 660px;
    flex-wrap: wrap;
    gap: 24px;

    @media (max-width: $xl) {
        max-height: 400px;
        gap: 12px;
    }

    @media (max-width: $md) {
        max-height: 760px;
        padding: 0 10px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.imgBlock1,
.imgBlock2 {
    position: relative;
}

.imgBlock1:nth-child(2n-1),
.imgBlock2:nth-child(2n) {
    min-width: 278px;
    min-height: 208px;

    @media (max-width: $xxl) {
        min-width: 230px;
        min-height: 180px;
    }
}

.imgBlock1:nth-child(2n),
.imgBlock2:nth-child(2n - 1) {
    min-width: 278px;
    min-height: 416px;

    @media (max-width: $xxl) {
        min-width: 230px;
        min-height: 360px;
    }
}

.imgBlock1:nth-child(2n),
.imgBlock2:nth-child(2n) {
    @media (max-width: $xl) {
        min-width: 160px;
        min-height: 240px;
    }
}

.imgBlock1:nth-child(2n-1),
.imgBlock2:nth-child(2n-1) {
    @media (max-width: $xl) {
        min-width: 160px;
        min-height: 120px;
    }
}

.title {
    margin-bottom: 48px;
    @media (max-width: $md) {
        padding-left: 10px;
    }
}

.tagContainer {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    overflow: auto;
}
.tags {
    position: absolute;
    display: flex;
    gap: 32px;
    top: 0;
    padding-right: 15px;

    @media (max-width: $md) {
        left: 10px;
    }
}

.text {
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
}
