@import "../const";

.space {
    color: #fff;
    background: $black;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    @media (max-width: $xl) {
        max-width: unset;
        flex-direction: column-reverse;
    }

    @media (max-width: $md) {
        padding: 0;
    }
}

.flex {
    width: 83.3%;

    @media (max-width: $xl) {
        width: 100%;
    }
}

.title {
    margin-bottom: 32px;

    @media (max-width: $xxl) {
        margin-bottom: 24px;
    }
}

.link {
    position: -webkit-sticky;
    position: sticky;
    top: 30%;
    width: 180px;
    height: 180px;
    background-color: $yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    cursor: pointer;
    color: $black;
    font-weight: 500;

    @media (max-width: $xxl) {
        width: 148px;
        height: 148px;
    }

    @media (max-width: $xl) {
        display: none;
    }
}

.mobile {
    display: none;

    @media (max-width: $xl) {
        display: flex;
    }
}

.top {
    display: flex;
    gap: 32px;
    margin-bottom: 48px;

    @media (max-width: $xl) {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 0.5px solid #313748;
    border-bottom: 0.5px solid #313748;
    padding: 16px 0;
    margin-bottom: 32px;
    gap: 48px;

    @media (max-width: $xl) {
        font-size: 16px;
        line-height: 24px;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $md) {
        padding: 0;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0;
    }
}

.infoBlock:not(:last-child) {
    border-right: 0.5px solid #313748;

    @media (max-width: $xl) {
        border-right: 0;
    }
}

.infoBlock {
    @media (max-width: $md) {
        padding: 16px 0;
        border-bottom: 0.5px solid #313748;
    }
}

.value {
    font-weight: 500;
    font-size: 56px;
    line-height: 72px;
}

.unit {
    font-size: 18px;
    @media (max-width: $xxl) {
        font-size: 16px;
    }
}

.info {
    color: #fff;
}

.descr {
    margin-bottom: 32px;
    color: #fff;
    max-width: 442px;

    @media (max-width: $xxl) {
        font-size: 16px;
        line-height: 24px;
    }

    @media (max-width: $xl) {
        max-width: unset;
    }
}

.content {
    max-width: 886px;
}

.notice {
    padding-left: 48px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
}

.swiper {
    overflow: auto;
    height: 100%;
    height: fit-content;
    @media (max-width: $xl) {
        max-width: unset;
        height: unset;

        & .slide {
            width: auto;
        }
    }
}

.swiperConntainer {
    width: 100%;
    display: flex;
    margin-left: auto;
    @media (max-width: $xl) {
        width: 100%;
        margin-left: 0;

        & > div {
            margin-left: calc((100% - $md + 20px) / 2);
            padding-right: 10px;
        }
    }
    @media (max-width: $md) {
        & > div {
            padding: 0 10px;
            margin-left: 0;
        }
    }
}

.card {
    cursor: pointer;
}

// .imgBlock {
//     width: 278px;
//     height: 278px;

//     @media (max-width: $xxl) {
//         width: 240px;
//         height: 240px;
//     }
// }

.text {
    margin-top: 16px;
    padding-bottom: 40px;
}
