$yellow: #f4b63e;
$yellowDark: #e89d0d;
$brown: #a2543d;
$green: #0d4135;
$light-green: #12644a;
$dark-green: #082e25;
$black: #131722;
$cream: #f7d1ba;
$gray: #313748;
$light-gray: #efeded;

$transition: all 0.2s ease;

$xxl: 1440px;
$xl: 1228px;
$md: 700px;
$xs: 350px;
